body { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: normal 18px/25px 'Rokkitt', Georgia, serif;
    vertical-align: baseline;
  }
  #map { position:absolute; top:0; bottom:0; width:100%; }

  .map-legend .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
  }
.leaflet-popup-close-button {
  display: none;
  }
.leaflet-popup-content-wrapper {
  pointer-events: none;
  }
.leaflet-top-pane {
    pointer-events: none;
  }
#map-ui {
    position: absolute;
    top: 15px;
    right: 10px;
    list-style: none;
    margin: 0;
    padding: 10px;
    z-index: 100;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid #BBB;
}

#map-ui a {
    color: #E5EFD4;
    display: block;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    min-width: 105px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #fff;
}

#map-ui a.tree {
    background-color: #729B3F;
}

#map-ui a.health {
    background-color: #4B75B3;
}

#map-ui a:hover {
    opacity: 0.8; 
    filter: alpha(opacity=80);
    border-color: #FFF;
}

#map-ui a.active {
    opacity: 0.6; 
    filter: alpha(opacity=60);
    border: 5px solid #333;
    color: #fff;
}